In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics, datasets, decomposition, preprocessing
from scipy.stats import ttest_ind, pearsonr, spearmanr
sns.set()
rng = np.random.default_rng()

In [ ]:
iris = datasets.load_iris(as_frame=True)
iris_data = iris["data"]
iris_data["species"] = [iris["target_names"][sp] for sp in iris["target"]]
iris_data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [ ]:
virginica_pl = iris_data["petal length (cm)"][iris_data["species"] == "virginica"].to_numpy()
versicolor_pl = iris_data["petal length (cm)"][iris_data["species"] == "versicolor"].to_numpy()

virginica_sw = iris_data["sepal width (cm)"][iris_data["species"] == "virginica"].to_numpy()
versicolor_sw = iris_data["sepal width (cm)"][iris_data["species"] == "versicolor"].to_numpy()

In [ ]:
# Note that we should not try to calculate the pearson and spearman correlation for the above data because we are comparing the same variable between two different groups.
# We should instead compare the petal length of the virginica and versicolor species to the sepal width of the virginica and versicolor species.
# We are doing this only for the sake of the exercise.

print(pearsonr(virginica_pl, versicolor_pl))
print(spearmanr(virginica_pl, versicolor_pl))
print(ttest_ind(virginica_pl, versicolor_pl))
print()
print(pearsonr(virginica_sw, versicolor_sw))
print(spearmanr(virginica_sw, versicolor_sw))
print(ttest_ind(virginica_sw, versicolor_sw))

:

In [ ]:
virginica_pl = np.sort(virginica_pl)
versicolor_pl = np.sort(versicolor_pl)

virginica_sw = np.sort(virginica_sw)
versicolor_sw = np.sort(versicolor_sw)

In [ ]:
print(pearsonr(virginica_pl, versicolor_pl))
print(spearmanr(virginica_pl, versicolor_pl))
print(ttest_ind(virginica_pl, versicolor_pl))
print()
print(pearsonr(virginica_sw, versicolor_sw))
print(spearmanr(virginica_sw, versicolor_sw))
print(ttest_ind(virginica_sw, versicolor_sw))

(0.9454090105698545, 5.123620702845956e-25)
SpearmanrResult(correlation=0.9942263909431307, pvalue=3.394651844366767e-48)
Ttest_indResult(statistic=12.603779441384978, pvalue=3.1788195478062863e-22)

(0.9641549895674841, 2.610733199721067e-29)
SpearmanrResult(correlation=0.9860837822169313, pvalue=4.585091898902844e-39)
Ttest_indResult(statistic=3.2057607502218186, pvalue=0.0018191004238894803)

In [ ]:
# Linear regression