In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Fields available in student-lookup-data.csv
# Sec ID,PID,Student,Email

# Read a CSV file into a Pandas dataframe and use the provided columns
df = pd.read_csv("./student-lookup-data.csv", usecols=['Student'])
# Check whether the email column is unique
# df['Email'].is_unique

In [ ]:
# Lists out the dataframe
df

In [ ]:
# Provides information about the dataframe
df.info()

In [ ]:
# The answer to the ultimate question of life, the universe, and everything.
random_seed = 123

In [ ]:
# Randomly shuffle our filtered dataframe with the provided random seed
fdf = df.sample(frac=1, random_state=random_seed)

In [ ]:
# Split up folks into groups of 4
splits = np.array_split(fdf, 10)
num_groups = len(splits)
print(num_groups)

In [ ]:
team_names = ["Algorithm Avengers",
              "Dataset Dominators",
              "Query Quirkies",
              "Python Pioneers",
              "Inferential Insiders",
              "Model Mystics",
              "Statistical Sorcerers",
              "Outlier Outlaws",
              "Regression Rangers",
              "Correlation Cavaliers"]

In [ ]:
for group_no in range(num_groups):
    splits[group_no]["Team Name"] = team_names[group_no]
    splits[group_no][["Team Name", "Student"]].to_csv("teams.csv", mode="a", index=False, header=False)